In [2]:
import pandas as pd
import sqlite3

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\dh212182\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: six in c:\users\dh212182\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dh212182\anaconda3\lib\site-packages (from ipython-sql) (2.0.12)
Requirement already satisfied: prettytable in c:\users\dh212182\anaconda3\lib\site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in c:\users\dh212182\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: ipython-genutils in c:\users\dh212182\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\dh212182\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dh212182\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\dh212182\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: matplotlib-inline in c:\users\dh212182\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in c:\users\dh212182\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\dh212182\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dh212182\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=4.2 in c:\users\dh212182\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\dh212182\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: jedi>=0.16 in c:\users\dh212182\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pygments in c:\users\dh212182\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\dh212182\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\dh212182\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: wcwidth in c:\users\dh212182\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dh212182\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)

In [59]:
cnn = sqlite3.connect("Music_Store_database.db")

In [63]:
#Getting all the tables in pandas

import pandas as pd

df1= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\album.csv')
album = pd.DataFrame(df1, columns=['album_id', 'title','artist_id'])
print (album)
#print(album.album_id[0])

df2= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\artist.csv')
artist = pd.DataFrame(df2, columns=['artist_id', 'name'])
print (artist)

df3= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\customer.csv')
customer = pd.DataFrame(df3, columns=["customer_id","first_name","last_name","company","address","city","state","country","postal_code","phone","fax","email","support_rep_id"])
print (customer)

df4= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\employee.csv')
employee = pd.DataFrame(df4, columns=["employee_id","last_name","first_name","title","reports_to","levels","birthdate","hire_date","address","city","state","country","postal_code","phone","fax","email"])
print (employee)


df5= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\genre.csv')
genre = pd.DataFrame(df5, columns=['genre_id', 'name'])
print (genre)

df6= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\invoice.csv')
invoice = pd.DataFrame(df6, columns=["invoice_id","customer_id","invoice_date","billing_address","billing_city","billing_state","billing_country","billing_postal_code","total"])
print (invoice)

df7= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\invoice_line.csv')
invoice_line = pd.DataFrame(df7, columns=["invoice_line_id","invoice_id","track_id","unit_price","quantity"])
print (invoice_line)

df8= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\media_type.csv')
media_type = pd.DataFrame(df8, columns=["media_type","name"])
print (media_type)

df9= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\playlist.csv')
playlist = pd.DataFrame(df9, columns=['playlist_id','name'])
print (playlist)

df10= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\playlist_track.csv')
playlist_track = pd.DataFrame(df10, columns=['playlist_id','track_id'])
print (playlist_track)

df11= pd.read_csv(r'C:\Users\dh212182\OneDrive - Dunnhumby Ltd\Desktop\Projects\Covid SQL\music store data\track.csv')
track = pd.DataFrame(df11, columns=["track_id","name","album_id","media_type_id","genre_id","composer","milliseconds","bytes","unit_price"])
print (track)

     album_id                                              title  artist_id
0         156                                And Justice For All         50
1         208                               Black Light Syndrome        136
2         257  20th Century Masters - The Millennium Collecti...        179
3         296                      A Copland Celebration, Vol. I        230
4          94                         A Matter of Life and Death         90
..        ...                                                ...        ...
342       239                                                War        150
343         8                                     Warner 25 Anos          6
344       334                       Weill: The Seven Deadly Sins        264
345       267                                             Worlds        202
346       240                                            Zooropa        150

[347 rows x 3 columns]
     artist_id                                               name
0            1                                              AC/DC
1            2                                             Accept
2            3                                          Aerosmith
3            4                                  Alanis Morissette
4            5                                    Alice In Chains
..         ...                                                ...
270        271   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271        272                             Emerson String Quartet
272        273  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273        274                                      Nash Ensemble
274        275                              Philip Glass Ensemble

[275 rows x 2 columns]
    customer_id first_name     last_name  \
0             1       Luís     Gonçalves
1             2     Leonie        Köhler
2             3   François      Tremblay
3             4      Bjørn        Hansen
4             5  František   Wichterlová
5             6     Helena          Holý
6             7     Astrid        Gruber
7             8       Daan       Peeters
8             9       Kara       Nielsen
9            10    Eduardo       Martins
10           11  Alexandre         Rocha
11           12    Roberto       Almeida
12           13   Fernanda         Ramos
13           14       Mark       Philips
14           15   Jennifer      Peterson
15           16      Frank        Harris
16           17       Jack         Smith
17           18   Michelle        Brooks
18           19        Tim         Goyer
19           20        Dan        Miller
20           21      Kathy         Chase
21           22    Heather       Leacock
22           23       John        Gordon
23           24      Frank       Ralston
24           25     Victor       Stevens
25           26    Richard    Cunningham
26           27    Patrick          Gray
27           28      Julia       Barnett
28           29     Robert         Brown
29           30     Edward       Francis
30           31     Martha          Silk
31           32      Aaron      Mitchell
32           33      Ellie      Sullivan
33           34       João     Fernandes
34           35   Madalena       Sampaio
35           36     Hannah     Schneider
36           37       Fynn    Zimmermann
37           38     Niklas      Schröder
38           39    Camille       Bernard
39           40  Dominique      Lefebvre
40           41       Marc        Dubois
41           42      Wyatt        Girard
42           43   Isabelle       Mercier
43           44      Terhi    Hämäläinen
44           45   Ladislav        Kovács
45           46       Hugh      O'Reilly
46           47      Lucas       Mancini
47           48   Johannes  Van der Berg
48           49  Stanisław        Wójcik
49           50    Enrique         Muñoz
50           51     Joakim     Johansson
51           52       Emma         Jones
52           53       Phil        Hughes
53           54      Steve        Murray
54           55       Mark        Taylor
55           56      Diego     Gutiérrez
56           57       Luis         Rojas
57           58      Manoj        Pareek
58           59    Rishabh        Mishra

                                             company  \
0   Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                                NaN
2                                                NaN
3                                                NaN
4                                   JetBrains s.r.o.
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                   Woodstock Discos
10                              Banco do Brasil S.A.
11                                            Riotur
12                                               NaN
13                                             Telus
14                                     Rogers Canada
15                                       Google Inc.
16                             Microsoft Corporation
17                                               NaN
18                                        Apple Inc.
19                                               NaN
20                                               NaN
21                                               NaN
22                                               NaN
23                                               NaN
24                                               NaN
25                                               NaN
26                                               NaN
27                                               NaN
28                                               NaN
29                                               NaN
30                                               NaN
31                                               NaN
32                                               NaN
33                                               NaN
34                                               NaN
35                                               NaN
36                                               NaN
37                                               NaN
38                                               NaN
39                                               NaN
40                                               NaN
41                                               NaN
42                                               NaN
43                                               NaN
44                                               NaN
45                                               NaN
46                                               NaN
47                                               NaN
48                                               NaN
49                                               NaN
50                                               NaN
51                                               NaN
52                                               NaN
53                                               NaN
54                                               NaN
55                                               NaN
56                                               NaN
57                                               NaN
58                                               NaN

                                     address                 city   state  \
0            Av. Brigadeiro Faria Lima, 2170  São José dos Campos      SP
1                    Theodor-Heuss-Straße 34            Stuttgart     NaN
2                          1498 rue Bélanger             Montréal      QC
3                           Ullevålsveien 14                 Oslo     NaN
4                              Klanova 9/506               Prague     NaN
5                              Rilská 3174/6               Prague     NaN
6       Rotenturmstraße 4, 1010 Innere Stadt               Vienne     NaN
7                            Grétrystraat 63             Brussels     NaN
8                        Sønder Boulevard 51           Copenhagen     NaN
9                  Rua Dr. Falcão Filho, 155            São Paulo      SP
10                        Av. Paulista, 2022            São Paulo      SP
11                          Praça Pio X, 119       Rio de Janeiro      RJ
12                              Qe 7 Bloco G             Brasília      DF
13                            8210 111 ST NW             Edmonton      AB
14                       700 W Pender Street            Vancouver      BC
15                 1600 Amphitheatre Parkway        Mountain View      CA
16                           1 Microsoft Way              Redmond      WA
17                              627 Broadway             New York      NY
18                           1 Infinite Loop            Cupertino      CA
19                      541 Del Medio Avenue        Mountain View      CA
20                          801 W 4th Street                 Reno      NV
21                          120 S Orange Ave              Orlando      FL
22                           69 Salem Street               Boston      MA
23                     162 E Superior Street              Chicago      IL
24                     319 N. Frances Street              Madison      WI
25                       2211 W Berry Street           Fort Worth      TX
26                           1033 N Park Ave               Tucson      AZ
27                               302 S 700 E       Salt Lake City      UT
28                    796 Dundas Street West              Toronto      ON
29                          230 Elgin Street               Ottawa      ON
30                     194A Chain Lake Drive              Halifax      NS
31                        696 Osborne Street             Winnipeg      MB
32                            5112 48 Street          Yellowknife      NT
33                        Rua da Assunção 53               Lisbon     NaN
34  Rua dos Campeões Europeus de Viena, 4350                Porto     NaN
35                        Tauentzienstraße 8               Berlin     NaN
36                          Berger Straße 10            Frankfurt     NaN
37                       Barbarossastraße 19               Berlin     NaN
38                             4, Rue Milton                Paris     NaN
39                            8, Rue Hanovre                Paris     NaN
40                       11, Place Bellecour                 Lyon     NaN
41                    9, Place Louis Barthou             Bordeaux     NaN
42                          68, Rue Jouvence                Dijon     NaN
43                           Porthaninkatu 9             Helsinki     NaN
44                         Erzsébet krt. 58.             Budapest     NaN
45                          3 Chatham Street               Dublin  Dublin
46                    Via Degli Scipioni, 43                 Rome      RM
47                     Lijnbaansgracht 120bg            Amsterdam      VV
48                              Ordynacka 10               Warsaw     NaN
49                        C/ San Bernardo 85               Madrid     NaN
50                               Celsiusg. 9            Stockholm     NaN
51                         202 Hoxton Street               London     NaN
52                              113 Lupus St               London     NaN
53                            110 Raeburn Pl           Edinburgh      NaN
54                         421 Bourke Street               Sidney     NSW
55                        307 Macacha Güemes         Buenos Aires     NaN
56                           Calle Lira, 198             Santiago     NaN
57                       12,Community Centre                Delhi     NaN
58                         3,Raj Bhavan Road            Bangalore     NaN

           country postal_code                phone                 fax  \
0           Brazil   12227-000   +55 (12) 3923-5555  +55 (12) 3923-5566
1          Germany       70174     +49 0711 2842222                 NaN
2           Canada     H2G 1A7    +1 (514) 721-4711                 NaN
3           Norway         171      +47 22 44 22 22                 NaN
4   Czech Republic       14700     +420 2 4172 5555    +420 2 4172 5555
5   Czech Republic       14300     +420 2 4177 0449                 NaN
6          Austria        1010       +43 01 5134505                 NaN
7          Belgium        1000     +32 02 219 03 03                 NaN
8          Denmark        1720       +453 3331 9991                 NaN
9           Brazil   01007-010   +55 (11) 3033-5446  +55 (11) 3033-4564
10          Brazil   01310-200   +55 (11) 3055-3278  +55 (11) 3055-8131
11          Brazil   20040-020   +55 (21) 2271-7000  +55 (21) 2271-7070
12          Brazil   71020-677   +55 (61) 3363-5547  +55 (61) 3363-7855
13          Canada     T6G 2C7    +1 (780) 434-4554   +1 (780) 434-5565
14          Canada     V6C 1G8    +1 (604) 688-2255   +1 (604) 688-8756
15             USA  94043-1351    +1 (650) 253-0000   +1 (650) 253-0000
16             USA  98052-8300    +1 (425) 882-8080   +1 (425) 882-8081
17             USA  10012-2612    +1 (212) 221-3546   +1 (212) 221-4679
18             USA       95014    +1 (408) 996-1010   +1 (408) 996-1011
19             USA   94040-111    +1 (650) 644-3358                 NaN
20             USA       89503    +1 (775) 223-7665                 NaN
21             USA       32801    +1 (407) 999-7788                 NaN
22             USA        2113    +1 (617) 522-1333                 NaN
23             USA       60611    +1 (312) 332-3232                 NaN
24             USA       53703    +1 (608) 257-0597                 NaN
25             USA       76110    +1 (817) 924-7272                 NaN
26             USA       85719    +1 (520) 622-4200                 NaN
27             USA       84102    +1 (801) 531-7272                 NaN
28          Canada     M6J 1V1    +1 (416) 363-8888                 NaN
29          Canada     K2P 1L7    +1 (613) 234-3322                 NaN
30          Canada     B3S 1C5    +1 (902) 450-0450                 NaN
31          Canada     R3L 2B9    +1 (204) 452-6452                 NaN
32          Canada     X1A 1N6    +1 (867) 920-2233                 NaN
33        Portugal         NaN   +351 (213) 466-111                 NaN
34        Portugal         NaN   +351 (225) 022-448                 NaN
35         Germany       10789     +49 030 26550280                 NaN
36         Germany       60316     +49 069 40598889                 NaN
37         Germany       10779      +49 030 2141444                 NaN
38          France       75009   +33 01 49 70 65 65                 NaN
39          France       75002   +33 01 47 42 71 71                 NaN
40          France       69002   +33 04 78 30 30 30                 NaN
41          France       33000   +33 05 56 96 96 96                 NaN
42          France       21000   +33 03 80 73 66 99                 NaN
43         Finland         530     +358 09 870 2000                 NaN
44         Hungary      H-1073                  NaN                 NaN
45         Ireland         NaN      +353 01 6792424                 NaN
46           Italy         192      +39 06 39733434                 NaN
47     Netherlands        1016      +31 020 6223130                 NaN
48          Poland      00-358     +48 22 828 37 39                 NaN
49           Spain       28015      +34 914 454 454                 NaN
50          Sweden       11230     +46 08-651 52 52                 NaN
51  United Kingdom      N1 5LH    +44 020 7707 0707                 NaN
52  United Kingdom    SW1V 3EN    +44 020 7976 5722                 NaN
53  United Kingdom     EH4 1HH    +44 0131 315 3300                 NaN
54       Australia        2010   +61 (02) 9332 3633                 NaN
55       Argentina        1106  +54 (0)11 4311 4333                 NaN
56           Chile         NaN    +56 (0)2 635 4444                 NaN
57           India      110017    +91 0124 39883988                 NaN
58           India      560001     +91 080 22289999                 NaN

                            email  support_rep_id
0            luisg@embraer.com.br               3
1           leonekohler@surfeu.de               5
2             ftremblay@gmail.com               3
3           bjorn.hansen@yahoo.no               4
4        frantisekw@jetbrains.com               4
5                 hholy@gmail.com               5
6          astrid.gruber@apple.at               5
7           daan_peeters@apple.be               4
8           kara.nielsen@jubii.dk               4
9        eduardo@woodstock.com.br               4
10               alero@uol.com.br               5
11  roberto.almeida@riotur.gov.br               3
12       fernadaramos4@uol.com.br               4
13             mphilips12@shaw.ca               5
14            jenniferp@rogers.ca               3
15             fharris@google.com               4
16        jacksmith@microsoft.com               5
17              michelleb@aol.com               3
18               tgoyer@apple.com               3
19            dmiller@comcast.com               4
20            kachase@hotmail.com               5
21             hleacock@gmail.com               4
22         johngordon22@yahoo.com               4
23             fralston@gmail.com               3
24             vstevens@yahoo.com               5
25       ricunningham@hotmail.com               4
26           patrick.gray@aol.com               4
27            jubarnett@gmail.com               5
28               robbrown@shaw.ca               3
29            edfrancis@yachoo.ca               3
30           marthasilk@gmail.com               5
31         aaronmitchell@yahoo.ca               4
32         ellie.sullivan@shaw.ca               3
33            jfernandes@yahoo.pt               4
34              masampaio@sapo.pt               4
35      hannah.schneider@yahoo.de               5
36           fzimmermann@yahoo.de               3
37            nschroder@surfeu.de               3
38       camille.bernard@yahoo.fr               4
39    dominiquelefebvre@gmail.com               4
40        marc.dubois@hotmail.com               5
41          wyatt.girard@yahoo.fr               3
42      isabelle_mercier@apple.fr               3
43      terhi.hamalainen@apple.fi               3
44       ladislav_kovacs@apple.hu               3
45           hughoreilly@apple.ie               3
46         lucas.mancini@yahoo.it               5
47        johavanderberg@yahoo.nl               5
48         stanisław.wójcik@wp.pl               4
49         enrique_munoz@yahoo.es               5
50      joakim.johansson@yahoo.se               5
51         emma_jones@hotmail.com               3
52          phil.hughes@gmail.com               3
53          steve.murray@yahoo.uk               5
54           mark.taylor@yahoo.au               4
55       diego.gutierrez@yahoo.ar               4
56             luisrojas@yahoo.cl               5
57        manoj.pareek@rediff.com               3
58        rishabh_mishra@yahoo.in               3
   employee_id last_name first_name                   title  reports_to  \
0            1     Adams     Andrew         General Manager         9.0
1            2   Edwards      Nancy           Sales Manager         1.0
2            3   Peacock       Jane     Sales Support Agent         2.0
3            4      Park   Margaret     Sales Support Agent         2.0
4            5   Johnson      Steve     Sales Support Agent         2.0
5            6  Mitchell    Michael              IT Manager         1.0
6            7      King     Robert                IT Staff         6.0
7            8  Callahan      Laura                IT Staff         6.0
8            9     Madan      Mohan  Senior General Manager         NaN

  levels         birthdate         hire_date                      address  \

In [65]:
#Loading data to sqldatabase
#album.to_sql("album", cnn)

artist.to_sql("artist", cnn)

customer.to_sql("customer", cnn)

employee.to_sql("employee", cnn)

genre.to_sql("genre", cnn)

invoice.to_sql("invoice", cnn)

invoice_line.to_sql("invoice_line", cnn)

media_type.to_sql("media_type", cnn)

playlist.to_sql("playlist", cnn)

playlist_track.to_sql("playlist_track", cnn)

track.to_sql("track", cnn)

3503

In [66]:
#Load the sql model to ipython
%reload_ext sql

In [67]:
%sql sqlite:///Music_Store_database.db

ANALYSIS

PART 1

In [69]:
#Who is the senior most employee based on job title? 

%%sql

select * from employee
Order by levels desc
limit 1

 * sqlite:///Music_Store_database.db
Done.

[(8, 9, 'Madan', 'Mohan', 'Senior General Manager', None, 'L7', '26-01-1961 00:00', '14-01-2016 00:00', '1008 Vrinda Ave MT', 'Edmonton', 'AB', 'Canada', 'T5K 2N1', '+1 (780) 428-9482', '+1 (780) 428-3457', 'madan.mohan@chinookcorp.com')]

In [86]:
#Which countries have the most Invoices?

%%sql

select Count(*) as C, billing_country
from invoice
group by billing_country
order by C desc

 * sqlite:///Music_Store_database.db
Done.

[(131, 'USA'),
 (76, 'Canada'),
 (61, 'Brazil'),
 (50, 'France'),
 (41, 'Germany'),
 (30, 'Czech Republic'),
 (29, 'Portugal'),
 (28, 'United Kingdom'),
 (21, 'India'),
 (13, 'Ireland'),
 (13, 'Chile'),
 (11, 'Spain'),
 (11, 'Finland'),
 (10, 'Sweden'),
 (10, 'Poland'),
 (10, 'Netherlands'),
 (10, 'Hungary'),
 (10, 'Denmark'),
 (10, 'Australia'),
 (9, 'Norway'),
 (9, 'Italy'),
 (9, 'Austria'),
 (7, 'Belgium'),
 (5, 'Argentina')]

In [71]:
#What are top 3 values of total invoice?

%%sql
    
select total from invoice
order by total desc
limit 3

 * sqlite:///Music_Store_database.db
Done.

[(23.76,), (19.8,), (19.8,)]

In [72]:
#Which city has the best customers? We would like to throw a promotional Music Festival in the city we made the most money. 
#Write a query that returns one city that has the highest sum of invoice totals. 
#Return both the city name & sum of all invoice totals

%%sql

select Sum(total) as total_invoice,billing_city
from invoice
group by billing_city
order by total_invoice desc

 * sqlite:///Music_Store_database.db
Done.

[(273.24000000000007, 'Prague'),
 (169.29, 'Mountain View'),
 (166.32, 'London'),
 (158.4, 'Berlin'),
 (151.47, 'Paris'),
 (129.69000000000003, 'São Paulo'),
 (114.83999999999997, 'Dublin'),
 (111.86999999999999, 'Delhi'),
 (108.89999999999999, 'São José dos Campos'),
 (106.91999999999999, 'Brasília'),
 (102.96000000000001, 'Lisbon'),
 (99.99, 'Montréal'),
 (99.99, 'Bordeaux'),
 (98.01, 'Redmond'),
 (98.01, 'Madrid'),
 (97.02000000000001, 'Santiago'),
 (94.05000000000001, 'Frankfurt'),
 (92.07000000000001, 'Orlando'),
 (91.08000000000001, 'Reno'),
 (91.08, 'Ottawa'),
 (86.13000000000002, 'Fort Worth'),
 (84.14999999999999, 'Tucson'),
 (82.17, 'Stuttgart'),
 (82.17, 'Rio de Janeiro'),
 (82.17, 'Porto'),
 (81.18, 'Sidney'),
 (79.2, 'New York'),
 (79.2, 'Helsinki'),
 (79.2, 'Edinburgh '),
 (78.21, 'Budapest'),
 (76.23, 'Madison'),
 (76.22999999999999, 'Warsaw'),
 (75.24000000000001, 'Yellowknife'),
 (75.24, 'Stockholm'),
 (73.25999999999999, 'Dijon'),
 (72.27000000000001, 'Oslo'),
 (72.27, 'Salt Lake City'),
 (71.28, 'Chicago'),
 (71.28, 'Bangalore'),
 (70.28999999999999, 'Winnipeg'),
 (69.3, 'Vienne'),
 (66.33, 'Vancouver'),
 (66.33, 'Boston'),
 (65.34, 'Amsterdam'),
 (64.35, 'Lyon'),
 (62.370000000000005, 'Halifax'),
 (60.39, 'Brussels'),
 (54.449999999999996, 'Cupertino'),
 (50.49, 'Rome'),
 (40.59, 'Toronto'),
 (39.6, 'Buenos Aires'),
 (37.61999999999999, 'Copenhagen'),
 (29.699999999999996, 'Edmonton')]

In [74]:
#Who is the best customer? The customer who has spent the most money will be declared the best customer. 
#Write a query that returns the person who has spent the most money.

%%sql

select customer.customer_id, customer.first_name, customer.last_name,sum(invoice.total) as total
from customer
join invoice on customer.customer_id = invoice.customer_id
group by customer.customer_id 
order by total desc
limit 1

 * sqlite:///Music_Store_database.db
Done.

[(5, 'František', 'Wichterlová', 144.54000000000002)]

PART 2

In [78]:
#Write query to return the email, first name, last name, & Genre of all Rock Music listeners. 
#Return your list ordered alphabetically by email starting with A.

%%sql

Select Distinct email, first_name, last_name
from customer
join invoice on customer.customer_id = invoice.customer_id
join invoice_line on invoice.invoice_id = invoice_line.invoice_id
where track_id in(
    select track_id from track
    join genre on track.genre_id = genre.genre_id
    where genre.name like 'rock'
)
Order by email

 * sqlite:///Music_Store_database.db
Done.

[('aaronmitchell@yahoo.ca', 'Aaron', 'Mitchell'),
 ('alero@uol.com.br', 'Alexandre', 'Rocha'),
 ('astrid.gruber@apple.at', 'Astrid', 'Gruber'),
 ('bjorn.hansen@yahoo.no', 'Bjørn', 'Hansen'),
 ('camille.bernard@yahoo.fr', 'Camille', 'Bernard'),
 ('daan_peeters@apple.be', 'Daan', 'Peeters'),
 ('diego.gutierrez@yahoo.ar', 'Diego', 'Gutiérrez'),
 ('dmiller@comcast.com', 'Dan', 'Miller'),
 ('dominiquelefebvre@gmail.com', 'Dominique', 'Lefebvre'),
 ('edfrancis@yachoo.ca', 'Edward', 'Francis'),
 ('eduardo@woodstock.com.br', 'Eduardo', 'Martins'),
 ('ellie.sullivan@shaw.ca', 'Ellie', 'Sullivan'),
 ('emma_jones@hotmail.com', 'Emma', 'Jones'),
 ('enrique_munoz@yahoo.es', 'Enrique', 'Muñoz'),
 ('fernadaramos4@uol.com.br', 'Fernanda', 'Ramos'),
 ('fharris@google.com', 'Frank', 'Harris'),
 ('fralston@gmail.com', 'Frank', 'Ralston'),
 ('frantisekw@jetbrains.com', 'František', 'Wichterlová'),
 ('ftremblay@gmail.com', 'François', 'Tremblay'),
 ('fzimmermann@yahoo.de', 'Fynn', 'Zimmermann'),
 ('hannah.schneider@yahoo.de', 'Hannah', 'Schneider'),
 ('hholy@gmail.com', 'Helena', 'Holý'),
 ('hleacock@gmail.com', 'Heather', 'Leacock'),
 ('hughoreilly@apple.ie', 'Hugh', "O'Reilly"),
 ('isabelle_mercier@apple.fr', 'Isabelle', 'Mercier'),
 ('jacksmith@microsoft.com', 'Jack', 'Smith'),
 ('jenniferp@rogers.ca', 'Jennifer', 'Peterson'),
 ('jfernandes@yahoo.pt', 'João', 'Fernandes'),
 ('joakim.johansson@yahoo.se', 'Joakim', 'Johansson'),
 ('johavanderberg@yahoo.nl', 'Johannes', 'Van der Berg'),
 ('johngordon22@yahoo.com', 'John', 'Gordon'),
 ('jubarnett@gmail.com', 'Julia', 'Barnett'),
 ('kachase@hotmail.com', 'Kathy', 'Chase'),
 ('kara.nielsen@jubii.dk', 'Kara', 'Nielsen'),
 ('ladislav_kovacs@apple.hu', 'Ladislav', 'Kovács'),
 ('leonekohler@surfeu.de', 'Leonie', 'Köhler'),
 ('lucas.mancini@yahoo.it', 'Lucas', 'Mancini'),
 ('luisg@embraer.com.br', 'Luís', 'Gonçalves'),
 ('luisrojas@yahoo.cl', 'Luis', 'Rojas'),
 ('manoj.pareek@rediff.com', 'Manoj', 'Pareek'),
 ('marc.dubois@hotmail.com', 'Marc', 'Dubois'),
 ('mark.taylor@yahoo.au', 'Mark', 'Taylor'),
 ('marthasilk@gmail.com', 'Martha', 'Silk'),
 ('masampaio@sapo.pt', 'Madalena', 'Sampaio'),
 ('michelleb@aol.com', 'Michelle', 'Brooks'),
 ('mphilips12@shaw.ca', 'Mark', 'Philips'),
 ('nschroder@surfeu.de', 'Niklas', 'Schröder'),
 ('patrick.gray@aol.com', 'Patrick', 'Gray'),
 ('phil.hughes@gmail.com', 'Phil', 'Hughes'),
 ('ricunningham@hotmail.com', 'Richard', 'Cunningham'),
 ('rishabh_mishra@yahoo.in', 'Rishabh', 'Mishra'),
 ('robbrown@shaw.ca', 'Robert', 'Brown'),
 ('roberto.almeida@riotur.gov.br', 'Roberto', 'Almeida'),
 ('stanisław.wójcik@wp.pl', 'Stanisław', 'Wójcik'),
 ('steve.murray@yahoo.uk', 'Steve', 'Murray'),
 ('terhi.hamalainen@apple.fi', 'Terhi', 'Hämäläinen'),
 ('tgoyer@apple.com', 'Tim', 'Goyer'),
 ('vstevens@yahoo.com', 'Victor', 'Stevens'),
 ('wyatt.girard@yahoo.fr', 'Wyatt', 'Girard')]

In [79]:
#Let's invite the artists who have written the most rock music in our dataset. 
#Write a query that returns the Artist name and total track count of the top 10 rock bands.

%%sql

select artist.artist_id, artist.name, count(artist.artist_id) as number_of_songs
from track
join album on album.album_id = track.album_id
join artist on artist.artist_id = album.artist_id
join genre on genre.genre_id = track.genre_id
where genre.name like 'rock'
group by artist.artist_id
order by number_of_songs desc
limit 10

 * sqlite:///Music_Store_database.db
Done.

[(22, 'Led Zeppelin', 114),
 (150, 'U2', 112),
 (58, 'Deep Purple', 92),
 (90, 'Iron Maiden', 81),
 (118, 'Pearl Jam', 54),
 (152, 'Van Halen', 52),
 (51, 'Queen', 45),
 (142, 'The Rolling Stones', 41),
 (76, 'Creedence Clearwater Revival', 40),
 (52, 'Kiss', 35)]

In [81]:
#Return all the track names that have a song length longer than the average song length. 
#Return the Name and Milliseconds for each track. Order by the song length with the longest songs listed first

%%sql

select name,milliseconds
from track
where milliseconds > (
      select avg (milliseconds) as avg_track_length
      from track
)
Order by milliseconds desc

 * sqlite:///Music_Store_database.db
Done.

[('Occupation / Precipice', 5286953),
 ('Through a Looking Glass', 5088838),
 ('Greetings from Earth, Pt. 1', 2960293),
 ('The Man With Nine Lives', 2956998),
 ('Battlestar Galactica, Pt. 2', 2956081),
 ('Battlestar Galactica, Pt. 1', 2952702),
 ('Murder On the Rising Star', 2935894),
 ('Battlestar Galactica, Pt. 3', 2927802),
 ('Take the Celestra', 2927677),
 ('Fire In Space', 2926593),
 ('The Long Patrol', 2925008),
 ('The Magnificent Warriors', 2924716),
 ('The Living Legend, Pt. 1', 2924507),
 ('The Gun On Ice Planet Zero, Pt. 2', 2924341),
 ('The Hand of God', 2924007),
 ('Experiment In Terra', 2923548),
 ('War of the Gods, Pt. 2', 2923381),
 ('The Living Legend, Pt. 2', 2923298),
 ('War of the Gods, Pt. 1', 2922630),
 ('Lost Planet of the Gods, Pt. 1', 2922547),
 ("Baltar's Escape", 2922088),
 ('The Lost Warrior', 2920045),
 ('Lost Planet of the Gods, Pt. 2', 2914664),
 ('The Gun On Ice Planet Zero, Pt. 1', 2907615),
 ('Greetings from Earth, Pt. 2', 2903778),
 ('Crossroads, Pt. 2', 2869953),
 ('The Young Lords', 2863571),
 ('Dave', 2825166),
 ('"?"', 2782333),
 ('Maternity Leave', 2780416),
 ('Three Minutes', 2763666),
 ('Hero', 2713755),
 ('One of Them', 2698791),
 ('How to Stop an Exploding Man', 2687103),
 ('The Long Con', 2679583),
 ('Live Together, Die Alone, Pt. 2', 2656531),
 ('S.O.S.', 2639541),
 ('One of Us', 2638096),
 ('The Man from Tallahassee', 2637637),
 ('The Cost of Living', 2637500),
 ('The Glass Ballerina', 2637458),
 ('Every Man for Himself', 2637387),
 ('Not In Portland', 2637345),
 ('Not In Portland', 2637303),
 ('A Tale of Two Cities', 2636970),
 ('Flashes Before Your Eyes', 2636636),
 ('Stranger In a Strange Land', 2636428),
 ('Left Behind', 2635343),
 ('Tricia Tanaka Is Dead', 2635010),
 ('Lost Survival Guide', 2632590),
 ('The Moth', 2631327),
 ('Torn', 2631291),
 ('Par Avion', 2629879),
 ('Enter 77', 2629796),
 ('Dirty Hands', 2627961),
 ('I Do', 2627791),
 ('Tabula Rasa', 2627105),
 ('Collaborators', 2626626),
 ('The Woman King', 2626376),
 ('Rapture', 2624541),
 ('Taking a Break from All Your Worries', 2624207),
 ('The Passage', 2623875),
 ('Crossroads, Pt. 1', 2622622),
 ('Maelstrom', 2622372),
 ('Battlestar Galactica: The Story So Far', 2622250),
 ('Unfinished Business', 2622038),
 ('The Son Also Rises', 2621830),
 ('Exodus, Pt. 1', 2621708),
 ('Exodus (Part 1)', 2620747),
 ('A Day In the Life', 2620245),
 ('Outlaws', 2619887),
 ('Exodus (Part 3) [Season Finale]', 2619869),
 ('Hearts and Minds', 2619462),
 ('The Eye of Jupiter', 2618750),
 ('Born to Run', 2618619),
 ('Special', 2618530),
 ('Do No Harm', 2618487),
 ('Exodus, Pt. 2', 2618000),
 ('The Greater Good', 2617784),
 ('The Brig', 2617325),
 ('Greatest Hits', 2617117),
 ('Through the Looking Glass, Pt. 2', 2617117),
 ('Whatever the Case May Be', 2616410),
 ('D.O.C.', 2616032),
 ('The Man Behind the Curtain', 2615990),
 ('Confidence Man', 2615244),
 ('Seven Minutes to Midnight', 2613988),
 ('Solitary', 2612894),
 ('Something Nice Back Home', 2612779),
 ('Man of Science, Man of Faith (Premiere)', 2612250),
 ('Meet Kevin Johnson', 2612028),
 ('Cabin Fever', 2612028),
 ('Genesis', 2611986),
 ('Confirmed Dead', 2611986),
 ('The Beginning of the End', 2611903),
 ('The Constant', 2611569),
 ('The Hunting Party', 2611333),
 ('Two for the Road', 2610958),
 ('Through the Looking Glass, Pt. 1', 2610860),
 ('The Other 48 Days', 2610625),
 ('The 23rd Psalm', 2610416),
 ('What Kate Did', 2610250),
 ('Lockdown', 2610250),
 ('The Whole Truth', 2610125),
 ('Numbers', 2609772),
 ("There's No Place Like Home, Pt. 1", 2609526),
 ('Everybody Hates Hugo', 2609192),
 ('Orientation', 2609083),
 ('The Economist', 2609025),
 ('Eggtown', 2608817),
 ('One Giant Leap', 2607649),
 ('Nothing to Hide', 2605647),
 ('Exodus (Part 2) [Season Finale]', 2605557),
 ('Collision', 2605480),
 ('The Other Woman', 2605021),
 ('...In Translation', 2604575),
 ('Six Months Ago', 2602852),
 ('Parasite', 2602727),
 ('Run!', 2602602),
 ('Homecoming', 2601351),
 ('Company Man', 2601226),
 ('Company Man', 2601101),
 ('The Hard Part', 2601017),
 ('Landslide', 2600725),
 ('Fire + Water', 2600333),
 ('The Fix', 2600266),
 ('Unexpected', 2598139),
 ('Fallout', 2594761),
 ('Exposé', 2593760),
 ('The Shape of Things to Come', 2591299),
 ('Raised By Another', 2590459),
 ('Distractions', 2590382),
 ('House of the Rising Sun', 2590032),
 ('Ji Yeon', 2588797),
 ('Five Years Gone', 2587712),
 ('Walkabout', 2587370),
 ('Abandoned', 2587041),
 ('.07%', 2585794),
 ("There's No Place Like Home, Pt. 3", 2582957),
 ('Deus Ex Machina', 2582009),
 ('Better Halves', 2573031),
 ('White Rabbit', 2571965),
 ("Don't Look Back", 2571154),
 ('Adrift', 2564958),
 ('Collision', 2564916),
 ('Further Instructions', 2563980),
 ('A Measure of Salvation', 2563938),
 ('...And Found', 2563833),
 ('Catch-22', 2561394),
 ('All the Best Cowboys Have Daddy Issues', 2555492),
 ('Lost (Pilot, Part 1) [premiere]', 2548875),
 ('The Job', 2541875),
 ('Hiros', 2533575),
 ('A Benihana Christmas, Pts. 1 & 2', 2519436),
 ('Homecoming', 2515882),
 ("There's No Place Like Home, Pt. 2", 2497956),
 ('Past, Present, and Future', 2492867),
 ('Pilot', 2484567),
 ('Live Together, Die Alone, Pt. 1', 2478041),
 ('Lost (Pilot, Part 2)', 2436583),
 ('Branch Closing', 1822781),
 ('Branch Closing', 1814855),
 ('The Merger', 1801926),
 ('The Negotiation', 1767851),
 ("Women's Appreciation", 1732649),
 ('Casino Night - Season Finale', 1712791),
 ('The Return', 1705080),
 ("Producer's Cut: The Return", 1700241),
 ('Beach Games', 1676134),
 ('Dazed And Confused', 1612329),
 ('The Office: An American Workplace (Pilot)', 1380833),
 ('Email Surveillance', 1328870),
 ('Gay Witch Hunt', 1326534),
 ('Hot Girl', 1325458),
 ('Basketball', 1323541),
 ('Health Care', 1321791),
 ('The Fight', 1320028),
 ('The Alliance', 1317125),
 ('Halloween', 1315333),
 ('Diversity Day', 1306416),
 ('Business School', 1302093),
 ('The Client', 1299341),
 ('The Convention', 1297213),
 ('Sexual Harassment', 1294541),
 ('Performance Review', 1292458),
 ('Office Olympics', 1290458),
 ('Traveling Salesmen', 1289039),
 ('The Fire', 1288166),
 ('Grief Counseling', 1282615),
 ('Christmas Party', 1282115),
 ('The Initiation', 1280113),
 ('Diwali', 1279904),
 ('Drug Testing', 1278625),
 ('Boys and Girls', 1278333),
 ("Dwight's Speech", 1278041),
 ('The Coup', 1276526),
 ('The Injury', 1275275),
 ('Conflict Resolution', 1274583),
 ('The Convict', 1273064),
 ('Cocktails', 1272522),
 ('Ben Franklin', 1271938),
 ('Back from Vacation', 1271688),
 ("Phyllis's Wedding", 1271521),
 ('Safety Training', 1271229),
 ("Valentine's Day", 1270375),
 ('Take Your Daughter to Work Day', 1268333),
 ('Product Recall', 1268268),
 ('Booze Cruise', 1267958),
 ('The Secret', 1264875),
 ('The Carpet', 1264375),
 ('The Dundies', 1253541),
 ("Michael's Birthday", 1237791),
 ("Space Truckin'", 1196094),
 ('Dazed And Confused', 1116734),
 ("We've Got To Get Together/Jingo", 1070027),
 ('Funky Piano', 934791),
 ('Going Down / Highway Star', 913658),
 ('My Funny Valentine (Live)', 907520),
 ('Santana Jam', 882834),
 ('The Sun Road', 880640),
 ('Whole Lotta Love', 863895),
 ('Mistreated (Alternate Version)', 854700),
 ("Just Ain't Good Enough", 850259),
 ('Miles Runs The Voodoo Down', 843964),
 ('Whole Lotta Love (Medley)', 825103),
 ('Rime of the Ancient Mariner', 816509),
 ("Walkin'", 807392),
 ('You Fool No One', 804101),
 ('Rime Of The Ancient Mariner', 789472),
 ('Moby Dick', 766354),
 ('You Fool No One (Alternate Version)', 763924),
 ('Mistreated', 758648),
 ('No Quarter', 749897),
 ('The Calling', 747755),
 ('El Corazon Manda', 713534),
 ('How Many More Times', 711836),
 ('The End', 701831),
 ('Sign Of The Cross', 678008),
 ('Advance Romance', 677694),
 ('Reach Down', 672773),
 ('Mercyful Fate', 671712),
 ('Xanadu', 667428),
 ('In My Time Of Dying', 666017),
 ('I Heard It Through The Grapevine', 664894),
 ('Amy Amy Amy (Outro)', 663426),
 ('Outbreak', 659226),
 ('Stairway To Heaven', 657293),
 ('Sign Of The Cross', 649116),
 ('Sleeping Village', 644571),
 ('Fried Neckbones And Home Fries', 638563),
 ('Carouselambra', 634435),
 ('La Puesta Del Sol', 628062),
 ('Achilles Last Stand', 625502),
 ('Child In Time', 620460),
 ('You Shook Me(2)', 619467),
 ('The Way You Do To Mer', 618344),
 ('Smoke On The Water', 618031),
 ('Revolution 1993', 616829),
 ('Coma', 616511),
 ('Child In Time (Son Of Aleric - Instrumental)', 602880),
 ('Adagio for Strings from the String Quartet, Op. 11', 596519),
 ('Seventh Son of a Seventh Son', 593580),
 ('Jingo', 592953),
 ('The Angel And The Gambler', 592744),
 ('All I Want Is You', 591986),
 ("Talkin' 'Bout Women Obviously", 589531),
 ('The Outlaw Torn', 588721),
 ('To Live Is To Die', 588564),
 ('...And Justice For All', 585769),
 ('Book of Hours', 583366),
 ('Stratus', 582086),
 ('The Messiah: Behold, I Tell You a Mystery... The Trumpet Shall Sound', 582029),
 ('Dream Of Mirrors', 578324),
 ('La Villa Strangiato', 577488),
 ('Blind Curve: Vocal Under A Bloodlight / Passing Strangers / Mylo / Perimeter Walk / Threshold', 569704),
 ('Symphony No. 3 Op. 36 for Orchestra and Soprano "Symfonia Piesni Zalosnych" \\ Lento E Largo - Tranquillissimo', 567494),
 ('Tea For One', 566752),
 ('For the Greater Good of God', 564893),
 ('So What', 564009),
 ('Estranged', 563800),
 ('The Legacy', 562966),
 ("Symphonie Fantastique, Op. 14: V. Songe d'une nuit du sabbat", 561967),
 ('Dream Of Mirrors', 561162),
 ('Concerto for Piano No. 2 in F Minor, Op. 21: II. Larghetto', 560342),
 ('The Clansman', 559203),
 ("Homecoming / The Death Of St. Jimmy / East 12th St. / Nobody Likes You / Rock And Roll Girlfriend / We're Coming Home Again", 558602),
 ('No More Tears', 555075),
 ('Iron Man/Children of the Grave', 552308),
 ('Falling in Circles', 549093),
 ("Jesus Of Suburbia / City Of The Damned / I Don't Care / Dearly Beloved / Tales Of Another Broken Home", 548336),
 ('The Nomad', 546115),
 ('Release', 546063),
 ("Tuesday's Gone", 545750),
 ("Scheherazade, Op. 35: I. The Sea and Sindbad's Ship", 545203),
 ('Someday My Prince Will Come', 544078),
 ('Faroeste Caboclo', 543007),
 ('The Clansman', 539689),
 ('November Rain', 537540),
 ('The Call Of Ktulu', 534883),
 ('Chaos-Control', 529841),
 ('Just Another Story', 529684),
 ('Stairway To Heaven', 529658),
 ('Riviera Paradise', 528692),
 ('She Wears Black', 528666),
 ('All Within My Hands', 527986),
 ('In The Light', 526785),
 ('On the Beautiful Blue Danube', 526696),
 ('Black Light Syndrome', 526471),
 ('Brighter Than a Thousand Suns', 526255),
 ('Whistle Stop', 526132),
 ('Locomotive', 522396),
 ('Jupiter, the Bringer of Jollity', 522099),
 ('By-Tor And The Snow Dog', 519888),
 ('A E O Z', 518556),
 ('Dance Of Death', 516649),
 ('Alexander the Great', 515631),
 ('War Pigs', 515435),
 ('Master Of Puppets', 515239),
 ('Year to the Day', 514612),
 ("Won't Get Fooled Again (Full Length Version)", 513750),
 ('Dark Corners', 513541),
 ('Blow Your Mind', 512339),
 ('Invisible Kid', 510197),
 ('The Alchemist', 509413),
 ('Kashmir', 508604),
 ('Paschendale', 508107),
 ('How Many More Times', 508055),
 ('The Thin Line Between Love & Hate', 506801),
 ('Where The River Goes', 505991),
 ('Rain Song', 505808),
 ('Some Kind Of Monster', 505626),
 ('Title Song', 505521),
 ('Miserere mei, Deus', 501503),
 ('Fools', 500427),
 ('Orion', 500062),
 ('Bleeding Me', 497998),
 ('LOST In 8:15', 497163),
 ('Disposable Heroes', 496718),
 ('Sir Psycho Sexy', 496692),
 ('Fixxxer', 496065),
 ('Iron Maiden', 494602),
 ('Wheels Of Confusion / The Straightener', 494524),
 ('Book Of Thel', 494393),
 ('The Real Thing', 493635),
 ('Concerto for Violin, Strings and Continuo in G Major, Op. 3, No. 9: I. Allegro', 493573),
 ('You Oughta Know (Alternate)', 491885),
 ('The Unbeliever', 490422),
 ('Petits Machins (Little Stuff)', 487392),
 ('Steal Away (The Night)', 485720),
 ("Don't Look To The Eyes Of A Stranger", 483657),
 ('Concerto for Cello and Orchestra in E minor, Op. 85: I. Adagio - Moderato', 483133),
 ('Terra', 482429),
 ('Stairway To Heaven', 481619),
 ('Out Of Control', 479242),
 ('Flight Of The Rat', 478302),
 ('The Evil That Men Do', 478145),
 ('Bye Bye Blackbird', 476003),
 ('Evil Ways', 475402),
 ('Running Free', 474017),
 ('Nefertiti', 473495),
 ('Aeroplane Flies High', 473391),
 ('Old Love', 472920),
 ('Loverman', 472764),
 ('Hallowed Be Thy Name', 471849),
 ('Am I Evil?', 470256),
 ('Come Back', 469968),
 ('The Longest Day', 467810),
 ('Suicide Solution (With Guitar Solo)', 467069),
 ('War Pigs', 464770),
 ('Smoke On The Water', 464378),
 ('The Frayed Ends Of Sanity', 464039),
 ('Once', 462837),
 ('Civil War', 461165),
 ('Us And Them', 461035),
 ('Fear Of The Dark', 460695),
 ('Wiser Time', 459990),
 ('The Rain Song', 459180),
 ("Low Man's Lyric", 457639),
 ("Snoopy's search-Red baron", 456071),
 ('Powerslave', 454974),
 ('Burn', 453955),
 ('País Tropical', 452519),
 ('Sometimes I Feel Like Screaming', 451840),
 ('Hallowed Be Thy Name', 451422),
 ('Heaven Can Wait', 448574),
 ('Hallowed Be Thy Name', 447791),
 ('Duende', 447582),
 ('One', 446484),
 ('Caught Somewhere in Time', 445779),
 ('To Tame A Land', 445283),
 ('Lord of Light', 444614),
 ('No More Tears', 444358),
 ("Since I've Been Loving You", 444055),
 ('Hallowed Be Thy Name', 443977),
 ('Fortunes Of War', 443977),
 ('The Reincarnation of Benjamin Breeg', 442106),
 ('Lazy', 442096),
 ('No More Lies', 441782),
 ('Heaven Can Wait', 441417),
 ('St. Anger', 441234),
 ('Phantom Of The Opera', 441155),
 ('Heaven Can Wait', 440555),
 ('River Song', 439510),
 ('Leave', 437968),
 ('Fear Of The Dark', 436976),
 ('Sozinho (Hitmakers Classic Mix)', 436636),
 ('Master Of Puppets', 436453),
 ('Blood Brothers', 435513),
 ('Blood Brothers', 434442),
 ('Stone Crazy', 433397),
 ('The Four Horsemen', 433188),
 ('Fear Of The Dark', 431542),
 ('Fear Of The Dark', 431333),
 ('Hallowed Be Thy Name (Live) [Non Album Bonus Track]', 431262),
 ("Hard Lovin' Man", 431203),
 ('Victim Of Change (Live)', 430942),
 ('Layla', 430733),
 ('Shoot Me Again', 430210),
 ('The Unnamed Feeling', 429479),
 ('Hallowed Be Thy Name', 428669),
 ('Inside Job', 428643),
 ('Light My Fire', 428329),
 ('05 - Phantom of the Opera', 428016),
 ('When The Levee Breaks', 427702),
 ('Journeyman', 427023),
 ('Time', 425195),
 ('Breakdown', 424960),
 ('Knocking At Your Back Door', 424829),
 ('Otay', 423653),
 ('Scam', 422321),
 ('Voce Nao Entende Nada - Cotidiano', 421982),
 ('A Bencao E Outros', 421093),
 ('No Quarter', 420493),
 ('Snowblind', 420022),
 ('Lemon', 418324),
 ('Rehab (Hot Chip Remix)', 418293),
 ('Phantom Of The Opera', 418168),
 ('Afraid To Shoot Strangers', 416496),
 ("Since I've Been Loving You", 416365),
 ('Seek & Destroy', 415817),
 ('Black', 415712),
 ('No No No', 414902),
 ('Fade To Black', 414824),
 ('Four Walled World', 414474),
 ('Where The Wild Things Are', 414380),
 ('Norwegian Wood', 413910),
 ('Afraid To Shoot Strangers', 412525),
 ("These Colours Don't Run", 412152),
 ("Wellington's Victory or the Battle Symphony, Op.91: 2. Symphony of Triumph", 412000),
 ('In The Evening', 410566),
 ('Se Liga', 410409),
 ('Ghost Of The Navigator', 410070),
 ('Samba Da Bênção', 409965),
 ('You Sent Me Flying / Cherry', 409906),
 ('My Friend Of Misery', 409547),
 ('Revelations', 408607),
 ('Ghost Of The Navigator', 408607),
 ('Down by the Sea', 408163),
 ('Afraid To Shoot Strangers', 407980),
 ('Powerslave', 407823),
 ('Daughter', 407484),
 ('Paradise City', 406347),
 ('Karelia Suite, Op.11: 2. Ballade (Tempo Di Menuetto)', 406000),
 ('Blue Train', 405028),
 ('The Educated Fool', 404767),
 ('Girl From A Pawnshop', 404688),
 ('Third Stone From The Sun', 404453),
 ('Computadores Fazem Arte', 404323),
 ('Wherever I May Roam', 404323),
 ('The Small Hours', 403435),
 ('Blackened', 403382),
 ('Jerusalem', 402390),
 ('Dazed and Confused', 401920),
 ("Babe I'm Gonna Leave You", 401475),
 ('Terra', 401319),
 ('Soot & Stars', 399986),
 ('The Edge Of Darkness', 399333),
 ('The House Jack Built', 398942),
 ('Jizzlobber', 398341),
 ('Helpless', 398315),
 ('Thank You', 398262),
 ('Still Of The Night', 398210),
 ('Ride The Lightning', 397740),
 ('Astronomy', 397531),
 ('Creeping Death', 396878),
 ('Deep Waters', 396460),
 ('Save Me (Remix)', 396303),
 ('The Thing That Should Not Be', 396199),
 ('King For A Day', 395859),
 ('22 Acacia Avenue', 395572),
 ('The Unforgiven II', 395520),
 ('The Shortest Straw', 395389),
 ('Concerto for Clarinet in A Major, K. 622: II. Adagio', 394482),
 ('Wicked Ways', 393691)]

Part 3

In [82]:
#Find how much amount spent by each customer on artists? Write a query to return customer name, artist name and total spent

%%sql
WITH best_selling_artist AS (
SELECT artist.artist_id AS artist_id, artist.name AS artist_name, SUM(invoice_line.unit_price*invoice_line.quantity) AS total_sales
FROM invoice_line
JOIN track ON track.track_id = invoice_line.track_id
JOIN album ON album.album_id = track.album_id
JOIN artist ON artist.artist_id = album.artist_id
GROUP BY 1
ORDER BY 3 DESC
LIMIT 1
)
SELECT c.customer_id, c.first_name, c.last_name, bsa.artist_name, SUM(il.unit_price*il.quantity) AS amount_spent
FROM invoice i
JOIN customer c ON c.customer_id = i.customer_id
JOIN invoice_line il ON il.invoice_id = i.invoice_id
JOIN track t ON t.track_id = il.track_id
JOIN album alb ON alb.album_id = t.album_id
JOIN best_selling_artist bsa ON bsa.artist_id = alb.artist_id
GROUP BY 1,2,3,4
ORDER BY 5 DESC;

 * sqlite:///Music_Store_database.db
Done.

[(46, 'Hugh', "O'Reilly", 'Queen', 27.719999999999985),
 (38, 'Niklas', 'Schröder', 'Queen', 18.81),
 (3, 'François', 'Tremblay', 'Queen', 17.82),
 (34, 'João', 'Fernandes', 'Queen', 16.830000000000002),
 (41, 'Marc', 'Dubois', 'Queen', 11.88),
 (53, 'Phil', 'Hughes', 'Queen', 11.88),
 (33, 'Ellie', 'Sullivan', 'Queen', 10.89),
 (47, 'Lucas', 'Mancini', 'Queen', 10.89),
 (5, 'František', 'Wichterlová', 'Queen', 3.96),
 (20, 'Dan', 'Miller', 'Queen', 3.96),
 (23, 'John', 'Gordon', 'Queen', 2.9699999999999998),
 (31, 'Martha', 'Silk', 'Queen', 2.9699999999999998),
 (54, 'Steve', 'Murray', 'Queen', 2.9699999999999998),
 (1, 'Luís', 'Gonçalves', 'Queen', 1.98),
 (8, 'Daan', 'Peeters', 'Queen', 1.98),
 (11, 'Alexandre', 'Rocha', 'Queen', 1.98),
 (15, 'Jennifer', 'Peterson', 'Queen', 1.98),
 (16, 'Frank', 'Harris', 'Queen', 1.98),
 (17, 'Jack', 'Smith', 'Queen', 1.98),
 (24, 'Frank', 'Ralston', 'Queen', 1.98),
 (28, 'Julia', 'Barnett', 'Queen', 1.98),
 (30, 'Edward', 'Francis', 'Queen', 1.98),
 (35, 'Madalena', 'Sampaio', 'Queen', 1.98),
 (36, 'Hannah', 'Schneider', 'Queen', 1.98),
 (42, 'Wyatt', 'Girard', 'Queen', 1.98),
 (44, 'Terhi', 'Hämäläinen', 'Queen', 1.98),
 (48, 'Johannes', 'Van der Berg', 'Queen', 1.98),
 (49, 'Stanisław', 'Wójcik', 'Queen', 1.98),
 (52, 'Emma', 'Jones', 'Queen', 1.98),
 (57, 'Luis', 'Rojas', 'Queen', 1.98),
 (6, 'Helena', 'Holý', 'Queen', 0.99),
 (13, 'Fernanda', 'Ramos', 'Queen', 0.99),
 (19, 'Tim', 'Goyer', 'Queen', 0.99),
 (22, 'Heather', 'Leacock', 'Queen', 0.99),
 (26, 'Richard', 'Cunningham', 'Queen', 0.99),
 (27, 'Patrick', 'Gray', 'Queen', 0.99),
 (39, 'Camille', 'Bernard', 'Queen', 0.99),
 (43, 'Isabelle', 'Mercier', 'Queen', 0.99),
 (45, 'Ladislav', 'Kovács', 'Queen', 0.99),
 (50, 'Enrique', 'Muñoz', 'Queen', 0.99),
 (55, 'Mark', 'Taylor', 'Queen', 0.99),
 (58, 'Manoj', 'Pareek', 'Queen', 0.99),
 (59, 'Rishabh', 'Mishra', 'Queen', 0.99)]

In [84]:
#We want to find out the most popular music Genre for each country. We determine the most popular genre as the genre 
#with the highest amount of purchases. Write a query that returns each country along with the top Genre. For countries where 
#the maximum number of purchases is shared return all Genres.

%%sql

WITH popular_genre AS 
(
SELECT COUNT(invoice_line.quantity) AS purchases, customer.country, genre.name, genre.genre_id, 
ROW_NUMBER() OVER(PARTITION BY customer.country ORDER BY COUNT(invoice_line.quantity) DESC) AS RowNo 
FROM invoice_line 
JOIN invoice ON invoice.invoice_id = invoice_line.invoice_id
JOIN customer ON customer.customer_id = invoice.customer_id
JOIN track ON track.track_id = invoice_line.track_id
JOIN genre ON genre.genre_id = track.genre_id
GROUP BY 2,3,4
ORDER BY 2 ASC, 1 DESC
)
SELECT * FROM popular_genre WHERE RowNo <= 1

 * sqlite:///Music_Store_database.db
Done.

[(17, 'Argentina', 'Alternative & Punk', 4, 1),
 (34, 'Australia', 'Rock', 1, 1),
 (40, 'Austria', 'Rock', 1, 1),
 (26, 'Belgium', 'Rock', 1, 1),
 (205, 'Brazil', 'Rock', 1, 1),
 (333, 'Canada', 'Rock', 1, 1),
 (61, 'Chile', 'Rock', 1, 1),
 (143, 'Czech Republic', 'Rock', 1, 1),
 (24, 'Denmark', 'Rock', 1, 1),
 (46, 'Finland', 'Rock', 1, 1),
 (211, 'France', 'Rock', 1, 1),
 (194, 'Germany', 'Rock', 1, 1),
 (44, 'Hungary', 'Rock', 1, 1),
 (102, 'India', 'Rock', 1, 1),
 (72, 'Ireland', 'Rock', 1, 1),
 (35, 'Italy', 'Rock', 1, 1),
 (33, 'Netherlands', 'Rock', 1, 1),
 (40, 'Norway', 'Rock', 1, 1),
 (40, 'Poland', 'Rock', 1, 1),
 (108, 'Portugal', 'Rock', 1, 1),
 (46, 'Spain', 'Rock', 1, 1),
 (60, 'Sweden', 'Rock', 1, 1),
 (561, 'USA', 'Rock', 1, 1),
 (166, 'United Kingdom', 'Rock', 1, 1)]

In [85]:
#Write a query that determines the customer that has spent the most on music for each country. 
#Write a query that returns the country along with the top customer and how much they spent. 
#For countries where the top amount spent is shared, provide all customers who spent this amount.

%%sql
WITH RECURSIVE 
customter_with_country AS (
SELECT customer.customer_id,first_name,last_name,billing_country,SUM(total) AS total_spending
FROM invoice
JOIN customer ON customer.customer_id = invoice.customer_id
GROUP BY 1,2,3,4
ORDER BY 2,3 DESC),

country_max_spending AS(
SELECT billing_country,MAX(total_spending) AS max_spending
FROM customter_with_country
GROUP BY billing_country)

SELECT cc.billing_country, cc.total_spending, cc.first_name, cc.last_name, cc.customer_id
FROM customter_with_country cc
JOIN country_max_spending ms
ON cc.billing_country = ms.billing_country
WHERE cc.total_spending = ms.max_spending
ORDER BY 1;

 * sqlite:///Music_Store_database.db
Done.

[('Argentina', 39.6, 'Diego', 'Gutiérrez', 56),
 ('Australia', 81.18, 'Mark', 'Taylor', 55),
 ('Austria', 69.3, 'Astrid', 'Gruber', 7),
 ('Belgium', 60.39, 'Daan', 'Peeters', 8),
 ('Brazil', 108.89999999999999, 'Luís', 'Gonçalves', 1),
 ('Canada', 99.99, 'François', 'Tremblay', 3),
 ('Chile', 97.02000000000001, 'Luis', 'Rojas', 57),
 ('Czech Republic', 144.54000000000002, 'František', 'Wichterlová', 5),
 ('Denmark', 37.61999999999999, 'Kara', 'Nielsen', 9),
 ('Finland', 79.2, 'Terhi', 'Hämäläinen', 44),
 ('France', 99.99, 'Wyatt', 'Girard', 42),
 ('Germany', 94.05000000000001, 'Fynn', 'Zimmermann', 37),
 ('Hungary', 78.21, 'Ladislav', 'Kovács', 45),
 ('India', 111.86999999999999, 'Manoj', 'Pareek', 58),
 ('Ireland', 114.83999999999997, 'Hugh', "O'Reilly", 46),
 ('Italy', 50.49, 'Lucas', 'Mancini', 47),
 ('Netherlands', 65.34, 'Johannes', 'Van der Berg', 48),
 ('Norway', 72.27000000000001, 'Bjørn', 'Hansen', 4),
 ('Poland', 76.22999999999999, 'Stanisław', 'Wójcik', 49),
 ('Portugal', 102.96000000000001, 'João', 'Fernandes', 34),
 ('Spain', 98.01, 'Enrique', 'Muñoz', 50),
 ('Sweden', 75.24, 'Joakim', 'Johansson', 51),
 ('USA', 98.01, 'Jack', 'Smith', 17),
 ('United Kingdom', 98.01, 'Phil', 'Hughes', 53)]